<a href="https://colab.research.google.com/github/MoritaHiroki87/ZZ_MachineLearningNote/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_train.csv')

# 便利なもの一覧
pandasでぜひ覚えておきたいものたち。
 - データフレームの形を表示
 - 特定の列の取得（簡単）
 - 統計量、相関の算出
 - データの選択
 - 条件指定による要素の選択
 - 欠損値の補完と除去
 - np.ndarrayとdf.DataFrameの相互変換

```
```

In [0]:
 # 形
df.shape

(17000, 9)

In [0]:
# df['col_name'] # 指定の列
df['longitude'].head(3)

0   -114.31
1   -114.47
2   -114.56
Name: longitude, dtype: float64

In [0]:
df.describe() # 平均などのデータをざっくり見る
df.corr() # 相関を見る

                    longitude  latitude  ...  median_income  median_house_value
longitude            1.000000 -0.925208  ...      -0.015485           -0.044982
latitude            -0.925208  1.000000  ...      -0.080303           -0.144917
housing_median_age  -0.114250  0.016454  ...      -0.115932            0.106758
total_rooms          0.047010 -0.038773  ...       0.195383            0.130991
total_bedrooms       0.071802 -0.069373  ...      -0.013495            0.045783
population           0.101674 -0.111261  ...      -0.000638           -0.027850
households           0.059628 -0.074902  ...       0.007644            0.061031
median_income       -0.015485 -0.080303  ...       1.000000            0.691871
median_house_value  -0.044982 -0.144917  ...       0.691871            1.000000

[9 rows x 9 columns]

In [0]:
# データの選択
t = df.iloc[:, -1]
print('t.shape(): ', t.head(3), 't.shape: ', t.shape)

t.shape():  0    66900.0
1    80100.0
2    85700.0
Name: median_house_value, dtype: float64 t.shape:  (17000,)

In [0]:
# 条件指定による要素の選択
# maskを作って条件とし、特定の列の要素を選択する（そして補完するなど）

# 新しい列 target を None で初期化
df['target'] = None

mask1 = df['median_house_value'] < 60000
mask2 = (df['median_house_value'] >= 60000) & (df['median_house_value'] < 70000)
mask3 = (df['median_house_value'] >= 70000) & (df['median_house_value'] < 80000)
mask4 = df['median_house_value'] >= 80000

df.loc[mask1, 'target'] = 0
df.loc[mask2, 'target'] = 1
df.loc[mask3, 'target'] = 2
df.loc[mask4, 'target'] = 3

df.head()

   longitude  latitude  ...  median_house_value  target
0    -114.31     34.19  ...             66900.0       1
1    -114.47     34.40  ...             80100.0       3
2    -114.56     33.69  ...             85700.0       3
3    -114.57     33.64  ...             73400.0       2
4    -114.57     33.57  ...             65500.0       1

[5 rows x 10 columns]

In [0]:
# 欠損値の補完と除去
# 全ての欠損値を除去
df_dropna = df.dropna()

# 全ての欠損値を補完
mean = df.mean()
df_fillna = df.fillna(mean)
df_fillna.head(3)

   longitude  latitude  ...  median_house_value  target
0    -114.31     34.19  ...             66900.0       1
1    -114.47     34.40  ...             80100.0       3
2    -114.56     33.69  ...             85700.0       3

[3 rows x 10 columns]

In [0]:
# np.ndarrayとdf.DataFrameの相互変換
# df -> ndarray
df.values

# ndarray -> df
df_nd = pd.DataFrame(data=np.random.randn(5, 5))
df_nd

          0         1         2         3         4
0  2.100126  0.297094 -1.806966 -1.576040  0.757308
1 -0.094480 -0.331376  1.157276  0.483595  0.998641
2 -1.085652 -0.161739 -1.399602 -0.268105  0.719776
3 -1.373030  1.274096  2.681026 -1.155456  0.981598
4  0.295803  0.851129  0.739963  0.670242  1.818439

# テキストの内容

## 11.1 ~ 7

In [0]:
type(df)

In [0]:
df.head(3)

In [0]:
df['longitude'].head(3)

In [0]:
df.to_csv('sample.csv')

In [0]:
!ls

In [0]:
df.shape

In [0]:
df.mean()

In [0]:
df.var()

In [0]:
df.count()

In [0]:
df.describe()

In [0]:
df.corr()

In [0]:
# total_rooms 列の値を昇順に並び替え
df_as = df.sort_values(by='total_rooms')
df_as.head()

In [0]:
# 降順に
df_de = df.sort_values(by='total_rooms', ascending=False)
df_de.head()

## 11.8 データの選択

In [0]:
df.head()

In [0]:
# df.iloc['行', '列']
# 0 行目 longitude 列の選択
df.iloc[0, 0]

In [0]:
# 1 行目latitude 列の選択
df.iloc[1, 1]

In [0]:
# 全ての行の最終列を選択 serieseオブジェクトで返される
t = df.iloc[:, -1]
t.head()

In [0]:
type(t)

In [0]:
# 全ての行の、先頭列から末尾ひとつ前の列までを選択
x = df.iloc[:, 0:-1]
x.head(3)

## 11.9 条件指定による要素の選択

In [0]:
# median_house_value 列を選択し、全要素に対し70000より大きいかを計算
mask = df['median_house_value'] > 70000
mask.head()

In [0]:
# 上で作ったmaskを使ってデータの選択ができる！
df[mask].head()

In [0]:
### 11.9.1 複数行の条件指定による要素選択
# 70000より小さいか80000より大きいかのやつ
mask2 = (df['median_house_value'] < 70000) | (df['median_house_value'] > 80000)
mask2.head()

In [0]:
df[mask2].head()

In [0]:
## 11.9.2 条件指定による要素の置換
df['target'] = None
df.head()

In [0]:
mask1 = df['median_house_value'] < 60000
mask2 = (df['median_house_value'] >= 60000) & (df['median_house_value'] < 70000)
mask3 = (df['median_house_value'] >= 70000) & (df['median_house_value'] < 80000)
mask4 = df['median_house_value'] >= 80000

In [0]:
df.loc[mask1, 'target'] = 0
df.loc[mask2, 'target'] = 1
df.loc[mask3, 'target'] = 2
df.loc[mask4, 'target'] = 3

In [0]:
df.head()

## 11.10 欠損値の除去・補完

### レコードの削除

In [0]:
df.iloc[0, 0] = None
df.head(3)

In [0]:
# 欠損値のあるレコードを削除
df_dropna = df.dropna()
df_dropna.head(3)

### レコードの補完

In [0]:
mean = df.mean()
mean

In [0]:
# 欠損値をmeanで補完
df_fillna = df.fillna(mean)

# 先頭から３件を表示
df_fillna.head(3)

## 11.11 ndarrayとデータフレームを相互に変換
numpyのndarrayに変換する。   

pandasのデータは``.values``のプロパティでnumpy.ndarrayに変換できる。また、pd.DataFrameに引数で渡せばnp.ndarrayをdataframeに変換することも可能。

In [0]:
print(type(df))
print(type(df.values))

In [0]:
df.values # pandasの気を利かせた表示ではなくなる

In [0]:
print(type(df['longitude']))
print(type(df['longitude'].values))

In [0]:
import numpy as np

# ndarray -> pd.DataFrame
df = pd.DataFrame(
    data=np.random.randn(10, 10)
)
df

## 11.12 グラフの描画

In [0]:
df.plot()